<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.NotifyInfoMapper">

    <resultMap id="notifyInfoEntity" type="com.example.test.bean.NotifyInfoBean">
        <id property="notifyInfoId" column="notifyInfoId"/>
        <result property="receiverId" column="receiverId"/>
        <result property="senderId" column="senderId"/>
        <result property="Info" column="info"/>
        <result property="notifyType" column="notifyType"/>
        <result property="infoHasRead" column="infoHasRead"/>
    </resultMap>

    <select id="getNotifyInfoBySenderID" parameterType="String" resultType="com.example.test.bean.NotifyInfoBean">
        SELECT *
        FROM notifyinfo
        WHERE senderId = #{empID}
    </select>

    <select id="selectNotifyInfoByNotifyId" parameterType="int" resultType="com.example.test.bean.NotifyInfoBean">
        SELECT *
        FROM notifyinfo
        WHERE notifyInfoId = #{notifyId}
    </select>

    <select id="getNotifyInfoByReceiverID" parameterType="String" resultType="com.example.test.bean.NotifyInfoBean">
        SELECT *
        FROM notifyinfo
        WHERE receiverId = #{receiverId}
    </select>

    <insert id="insertNotifyInfo">
        insert into notifyinfo (receiverId, senderId, info, notifyType, infoHasRead)
        values (#{receiverId}, #{senderId}, #{Info}, #{notifyType},#{infoHasRead})
    </insert>

    <update id="updateNotifyInfo">
        update notifyinfo
        set receiverId         = #{receiverId},
            senderId         = #{senderId},
            info = #{info},
            notifyType    = #{notifyType},
            infoHasRead    = #{infoHasRead}
        where notifyinfo.notifyInfoId = #{notifyInfoId}
    </update>

    <delete id="deleteNotifyInfoAllBySenderID" parameterType="String">
        delete
        from notifyinfo
        where notifyinfo.senderId = #{senderID}
    </delete>

</mapper>