<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.ProFinishInfoMapper">

    <resultMap id="proFinishInfoEntity" type="com.example.test.bean.ProFinishInfoBean">
        <id property="empId" column="empId"/>
        <result property="projectId" column="projectId"/>
        <result property="empPosition" column="empPostion"/>
    </resultMap>

    <select id="getProjectInfo" parameterType="String" resultType="com.example.test.bean.ProFinishInfoBean">
        SELECT *
        FROM profinishinfo
        WHERE projectId = #{projectId}
            and empId = #{empId}
    </select>

    <insert id="insertProjectInfo">
        insert into profinishinfo (empId, projectId, empPostion)
        values (#{empId}, #{projectId}, #{empPosition})
    </insert>

    <delete id="deleteProjectInfoManager" parameterType="String">
        delete
        from profinishinfo
        WHERE projectId = #{projectId}
          and empId = #{empId}
            and empPostion = 0
    </delete>

    <delete id="deleteProjectInfoEmp" parameterType="String">
        delete
        from profinishinfo
        WHERE projectId = #{projectId}
          and empId = #{empId}
          and empPostion = 1
    </delete>

</mapper>