<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.TaskNextMapper">

    <resultMap id="taskNextEntity" type="com.example.test.bean.TaskNextBean">
        <result property="subTaskId" column="subTaskId"/>
        <result property="nextTaskId" column="nextTaskId"/>
    </resultMap>

    <select id="getBeforeTaskId" parameterType="String" resultType="com.example.test.bean.TaskNextBean">
        SELECT *
        FROM tasknext
        WHERE nextTaskId = #{subTaskId}
    </select>

    <insert id="insertTaskNext">
        insert into tasknext (subTaskId, nextTaskId)
        values (#{subTaskId}, #{nextTaskId})
    </insert>

    <delete id="deleteTaskId" parameterType="String">
        delete
        from tasknext
        where subtaskId = #{subTaskId}
    </delete>

    <delete id="deleteTaskNextId" parameterType="String">
        delete
        from tasknext
        where nextTaskId = #{subTaskNextId}
    </delete>

</mapper>